{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<script type="text/javascript" src="{{ url_for('web.static', filename='video-filter.js') }}"></script>

<div>
    <h1>Create Channel</h1>
</div>
<div class="form">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.submit) }}
            </div>
        </div>
        {% if dirs %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <label for="filterText">Video Filter</label>
                <input class="form-control" type="text" id="filterText" onkeyup="searchTable()">
            </div>
        </div>
        <br>
        <table class="table table-condensed" id="filterTable">
            <thead></thead>
            <tbody>
            {% for dir, videos in dirs.items() %}
                <tr>
                    <td>
                        <div class="container">
                            <b>{{ dir }}</b>
                        </div>
                    </td>
                </tr>
                {% for video in videos %}
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="{{ video[0] }}" value="checked">{{ video[1] }}<br>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </form>
</div>
{% endblock %}
