{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<script type="text/javascript" src="{{ url_for('web.static', filename='filter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('web.static', filename='checkbox.js') }}"></script>

<div>
    <h1>Create Channel</h1>
</div>
<div class="form">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.submit) }}
            </div>
        </div>
        {% if dirs %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <label for="filterTextDirectory">Filter by Directory</label>
                <input class="form-control" type="text" id="filterTextDirectory" onkeyup="filter()"><br>
                <label for="filterTextFile">Filter by Video Filename</label>
                <input class="form-control" type="text" id="filterTextFile" onkeyup="filter()"><br>
                <label for="checkAllButton">All Visible Videos</label><br>
                <button type="button" class="btn btn-default" onClick="checkAllVisible(true)" id="checkAllButton">Check</button>
                <button type="button" class="btn btn-default" onClick="checkAllVisible(false)">UnCheck</button>
            </div>
        </div>
        <br>
        <table class="table table-condensed" id="filterable">
            <thead></thead>
            <tbody>
                {% for dir, videos in dirs.items() %}
                <tr data-type="directory" data-directory="{{ dir }}">
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" data-directory="{{ dir }}" onClick="checkMatches(this)" name="directory" value="{{ dir }}"><b>{{ dir }}</b>
                        </div>
                        <table>
                            {% for video_id, video_filename in videos %}
                            <tr data-type="file" data-filename="{{ video_filename }}">
                                <td>
                                    <div class="checkbox">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" data-directory="{{ dir }}" name="file" value="{{ video_id }}">{{ video_filename }}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </form>
</div>
{% endblock %}
