{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<script type="text/javascript" src="{{ url_for('web.static', filename='video-filter.js') }}"></script>

<div>
    <h1>Create Channel</h1>
</div>
<div class="form">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.submit) }}
            </div>
        </div>
        <br>
        {% if dirs %}
        {% for dir, videos in dirs.items() %}
        <div class="row">
            <div class="col-md-12" id="video">
                <b>{{ dir }}</b>
                <br>
                {% for video in videos %}
                <div class="checkbox">
                    <input type="checkbox" name="{{ video[0] }}" value="checked">{{ video[1] }}<br>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}
