{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h1>Controller</h1>
<form class="form form-horizontal" method="post" role="form">
    <div class="row">
        <div class="col-md-5">
            {{ form.hidden_tag() }}

            {% if endpoints %}
            {% for key,endpoint in endpoints.items() %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div title="UUID: {{ endpoint['uuid'] }}">{{ endpoint['name'] }}</div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <label for="select-{{ endpoint['uuid'] }}">Select Channel</label>
                                <select name="select-{{ endpoint['uuid'] }}" class="form-control">
                                    {% if channels %}
                                    {% for key,channel in channels.items() %}
                                    {% if endpoint['current_channel']|int == channel['id']|int %}
                                    <option value="{{ channel['id'] }}" selected>{{ channel['name'] }} ({{ channel['owner'] }})</option>
                                    {% else %}
                                    <option value="{{ channel['id'] }}">{{ channel['name'] }} ({{ channel['owner'] }})</option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            {% if endpoint['current_state'] == 'PLAY' %}
                            <input type="submit" class="btn disabled" value="Play" name="play-{{ endpoint['uuid'] }}">
                            {% else %}
                            <input type="submit" class="btn btn-default" value="Play" name="play-{{ endpoint['uuid'] }}">
                            {% endif %}
                            {% if endpoint['current_state'] == 'PAUSE' %}
                            <input type="submit" class="btn disabled" value="Pause" name="pause-{{ endpoint['uuid'] }}">
                            {% else %}
                            <input type="submit" class="btn btn-default" value="Pause" name="pause-{{ endpoint['uuid'] }}">
                            {% endif %}
                            {% if endpoint['current_state'] == 'STOP' %}
                            <input type="submit" class="btn disabled" value="Stop" name="stop-{{ endpoint['uuid'] }}">
                            {% else %}
                            <input type="submit" class="btn btn-default" value="Stop" name="stop-{{ endpoint['uuid'] }}">
                            {% endif %}
                            <input type="submit" class="btn btn-default" value="Skip" name="skip-{{ endpoint['uuid'] }}">
                            <input type="submit" class="btn btn-default" value="Set Channel" name="chan-{{ endpoint['uuid'] }}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr><td>Current:&nbsp;&nbsp;</td><td><font face="monospace" size="2" title="{{ endpoint['current_video_filename'] }}">{{ endpoint['current_video_filename'][:50] }}</font></td></tr>
                                <tr><td>Next:&nbsp;&nbsp;</td><td><font face="monospace" size="2" title="{{ endpoint['next_video_filename'] }}">{{ endpoint['next_video_filename'][:50] }}</font></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>
                No Endpoints appear to be active.
            </p>
            <p>
                Please verify your RaspberryPi is configured and successfully connecting.
            </p>
            <p>
                Once you have at least one endpoint configured and active, refresh this
                page. The list of active endpoints will automatically populate.
            </p>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
